workflows/Create Meal Entries.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time5": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time6": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Breakfast",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merienda",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dinner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-24T23:26:44.780Z",
  "id": "2",
  "name": "Create Meal Entries",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 5
            }
          ]
        }
      },
      "id": "30f96c98-08c1-400f-a05b-ee1ada68944a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        580
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "23e27bbf-a485-4f28-b5e8-11740d8d0e15",
          "mode": "list",
          "cachedResultName": "Meal Logs",
          "cachedResultUrl": "https://www.notion.so/23e27bbfa4854f28b5e811740d8d0e15"
        },
        "title": "={{ $json.meal_prefix }} - Breakfast ",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Meal|select",
              "selectValue": "Breakfast"
            },
            {
              "key": "Planned Date|date",
              "includeTime": false,
              "date": "={{ $json.iso_date }}",
              "timezone": "=default"
            }
          ]
        },
        "options": {}
      },
      "id": "4b3f4566-a5dc-48e1-b7a7-ab071ee03a3e",
      "name": "Breakfast",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1040,
        260
      ],
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "23e27bbf-a485-4f28-b5e8-11740d8d0e15",
          "mode": "list",
          "cachedResultName": "Meal Logs",
          "cachedResultUrl": "https://www.notion.so/23e27bbfa4854f28b5e811740d8d0e15"
        },
        "title": "={{ $json.meal_prefix }} - Lunch",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Meal|select",
              "selectValue": "Lunch"
            },
            {
              "key": "Planned Date|date",
              "includeTime": false,
              "date": "={{ $json.iso_date }}",
              "timezone": "=default"
            }
          ]
        },
        "options": {}
      },
      "id": "e9fb4760-db40-4947-b9e1-e258a93c5f88",
      "name": "Lunch",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1040,
        460
      ],
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "23e27bbf-a485-4f28-b5e8-11740d8d0e15",
          "mode": "list",
          "cachedResultName": "Meal Logs",
          "cachedResultUrl": "https://www.notion.so/23e27bbfa4854f28b5e811740d8d0e15"
        },
        "title": "={{ $json.meal_prefix }} - Merienda",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Meal|select",
              "selectValue": "Merienda"
            },
            {
              "key": "Planned Date|date",
              "includeTime": false,
              "date": "={{ $json.iso_date }}",
              "timezone": "=default"
            }
          ]
        },
        "options": {}
      },
      "id": "606ff39e-7150-42f2-af80-84218ba42405",
      "name": "Merienda",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1040,
        660
      ],
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "23e27bbf-a485-4f28-b5e8-11740d8d0e15",
          "mode": "list",
          "cachedResultName": "Meal Logs",
          "cachedResultUrl": "https://www.notion.so/23e27bbfa4854f28b5e811740d8d0e15"
        },
        "title": "={{ $json.meal_prefix }} - Dinner",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Meal|select",
              "selectValue": "Dinner"
            },
            {
              "key": "Planned Date|date",
              "includeTime": false,
              "date": "={{ $json.iso_date }}",
              "timezone": "=default"
            }
          ]
        },
        "options": {}
      },
      "id": "db355af6-1533-4400-a265-80a75952c709",
      "name": "Dinner",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1040,
        840
      ],
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json.timestamp }}",
        "duration": 1,
        "dataPropertyName": "new_date",
        "options": {
          "fromFormat": ""
        }
      },
      "id": "f8253a0f-da48-4b5e-8490-5fbc6187001b",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        260,
        100
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json.timestamp }}",
        "duration": 2,
        "dataPropertyName": "new_date",
        "options": {}
      },
      "id": "0a8c5134-f1b9-4ee6-9d3b-dc734bc709ad",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        260,
        260
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json.timestamp }}",
        "duration": 3,
        "dataPropertyName": "new_date",
        "options": {}
      },
      "id": "a81f264f-de99-495e-be98-02e12e621457",
      "name": "Date & Time2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        260,
        420
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json.timestamp }}",
        "duration": 4,
        "dataPropertyName": "new_date",
        "options": {}
      },
      "id": "0f8a4b9b-521b-4a66-9713-1f2eeed3d642",
      "name": "Date & Time3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        260,
        580
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json.timestamp }}",
        "duration": 5,
        "dataPropertyName": "new_date",
        "options": {}
      },
      "id": "92d7cb15-8b85-4e52-8da4-486ded0a50c9",
      "name": "Date & Time4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        260,
        740
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json.timestamp }}",
        "duration": 6,
        "dataPropertyName": "new_date",
        "options": {}
      },
      "id": "8f09be22-dd54-400c-ad73-e7ef672c51cb",
      "name": "Date & Time5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        260,
        900
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json.timestamp }}",
        "duration": 7,
        "dataPropertyName": "new_date",
        "options": {}
      },
      "id": "1e620307-4326-4c45-b00b-c78b6d16300c",
      "name": "Date & Time6",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        260,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "new_date"
            }
          ]
        },
        "options": {}
      },
      "id": "1c8e6fbb-39eb-4f31-b839-63b43d29da7d",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        560,
        580
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const new_date = DateTime.fromISO($input.item.json.new_date);\n$input.item.json = {\n  iso_date: new_date.toISODate(),\n  meal_prefix: new_date.toFormat('ddMMMyyyy').toUpperCase()\n};\nreturn $input.item;"
      },
      "id": "81418a28-1648-4b7c-a637-33116d3a522e",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        780,
        580
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-03-26T19:36:53.000Z",
  "versionId": "8ba959cb-e306-4d55-9b52-22523b6eb843"
}